* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(21, 78, 40);
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	background-image: url(/img/back1.jpg);
	background-size: cover;
	background-position: no-repeat;
}

.game-menu__btn {
	color: rgb(250, 250, 250);
	background-color: rgba(50, 58, 50, 0.3);
	border: solid 2px rgb(60, 88, 69);
	border-radius: 10px;
	width: 400px;
	height: 100px;
	margin: 20px auto;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.game-menu__btn:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(21, 78, 40);
	transition: 0.2s;
	font-size: 42px;
}

main {
	padding-top: 5vh;
}

.header__btn-prev {
	height: 70px;
	width: 70px;
	font-size: 50px;
	color: white;
	border: solid 2px white;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.3);

}

.header__btn-prev:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(21, 78, 40);
	transition: 0.2s;
	font-size: 54px;
}

header {
	padding: 30px;
	display: flex;
	justify-content: flex-end;
}

.header__title {
	flex-grow: 1;
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 5px;
}

.score {
	display: none;
	color: white;
	font-size: 50px;
	padding-top: 5px;
}

.best_score {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 30px;
	padding-top: 5px;
}



.game-section__conteiner {
	display: flex;
	flex-direction: column;
}

.game-menu__title {
	color: white;
	font-size: 30px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 70px;
}

.game-field {
	margin: auto;
	display: flex;
	width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
}

.game-card {
	width: 133px;
	height: 200px;
	background-image: url(/img/backside.png);
	background-size: cover;
	margin: 10px;
	border-radius: 15px;
	transform: perspective(140px) rotateY(0deg);
	transition: 0.5s;
}

.type1 {
	background-image: url(/img/card1-01-01-01.png);
}

.type2 {
	background-image: url(/img/Card2-01.png);
}

.type3 {
	background-image: url(/img/card3-01.png);
}

.type4 {
	background-image: url(/img/card4-01.png);
}

.type5 {
	background-image: url(/img/card5-01.png);
}

.type6 {
	background-image: url(/img/card6.png);
}

.type7 {
	background-image: url(/img/card8\ \(1\).png);
}

.type8 {
	background-image: url(/img/card8\ \(2\).png);
}



.flip {
	background-color: rgb(29, 122, 87);

	transform: perspective(140px) rotateY(-180deg);
	transition: 0.5s;
}